* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}
:root {
    --active-color: #03a9f4;
    --ul-font-color: #717171;
}
body {
    font-family: "open sans";
    background-color: #f1f1f1;
}
ul {
    list-style: none
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
.container .box {
    background-color: #242424;
    width: 250px
}
.container .box3 {
    background-color: var(--active-color);
    color: white;
    position: relative;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.178);
}
.container .box .text {
    color: white;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.container .box .text h2 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 27px;
}
.container .box .text div {
    font-size: 24px;
    font-weight: 700;
    position: relative;
}
.container .box .text div::before {
    content: '$';
    font-size: 19px;
    position: absolute;
    top: -4px;
    left: -12px;
}
.container .box .text div::after {
    content: "/mo";
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    bottom: 0;
}
.container .box ul li {
    font-size: 13px;
    color: var(--ul-font-color);
    border-top: solid 1px #5f5f5f88;
    padding: 20px;
    text-align: center;
}
.container .box3 ul li {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.795);
    border-top: solid 1px rgba(255, 255, 255, 0.397);
}
.container .box:not(.box3) ul li:not(:first-child):not(:nth-child(3)) {
    background-color: #2a2a2a;
}
.box ul + div:last-child {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box ul + div:last-child button {
    outline: none;
    border: none;
    border: solid 1px rgba(255, 255, 255, 0.397);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.795);
    padding: 10px 30px;
    font-size: 13px;
    cursor: pointer;
}
.container .box3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: inherit;
    bottom: -40px;
    left: 0;
}
.container .box3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: inherit;
    top: -40px;
    left: 0;
}
@media (max-width: 767px) {
    .container {
        flex-wrap: wrap;
        height: fit-content;
    }
    .container .box3::after {
        display: none;
    }
    .container .box3::before {
        display: none;
    }
    .container .box1, 
    .container .box2 {
        margin-top: 20px;
    }
    .container .box3, 
    .container .box4 {
        margin-bottom: 20px;
    }
}
@media (max-width: 546px) {
    .container .box1 {
        margin-top: 20px;
    }
    .container .box2 {
        margin-top: 0;
    }
    .container .box3 {
        margin-bottom: 0;
    }
    .container .box3::before {
        display: flex;
        width: 10px;
        height: 100%;
        left: -10px;
        top: 0;
    }
    .container .box3::after {
        display: flex;
        width: 10px;
        height: 100%;
        top: 0px;
        left: calc(100% + 10px);
        position: absolute;
        transform: translate(-100%);
        -webkit-transform: translate(-100%);
        -moz-transform: translate(-100%);
        -ms-transform: translate(-100%);
        -o-transform: translate(-100%);
}
}
